table.homework {
	border-radius: 20px;
	text-decoration: none;
	border-collapse:collapse;
	width:auto;
	text-align:left;}

table.homework td {
	font-size:12px;
	color:#010500;
	background-color:#a5d4e6;
	font-family: Arial;
	white-space:pre-wrap;
	padding: 0px, 0px
	line-height:12px;
	vertical-align: middle;
	border: 3px solid #2791b8;
}

input[type=number]{
	width: 45px;
	height: 25px;
}
/*
input[type=text]{
	width: 400px;
	height: 100px;
} */

div.cssFont_1 {
	font-family: Arial;
	font-size: 20px;
	letter-spacing: 1px;
	word-spacing: 1px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
